<!DOCTYPE html>
<html lang="pt-BR">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Minha Página</title>

   <!-- Arquivo CSS -->
   <link rel="stylesheet" href="/static/css/homepage.css">

   <!-- Arquivo JavaScript -->
   <script src="/static/js/pagina.js" defer></script>
</head>
<body>
   <h1>Sua conta</h1>

   <!-- Imagem -->
   <img src="/static/img/logo.png" alt="Logo">

   <div class="login">
      <p></p>
   </div>
</body>
</html>
